@import "tailwindcss";

/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

@theme {
  /* Font Variables */
  --font-sans: "Momo Signature", cursive, system-ui, -apple-system, sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-momo: "Momo Signature", cursive;

  --color-pizza: #130298;
  
  /* Set default font family for the theme */
  --font-family-sans: var(--font-momo);

  --height-screen: 100dvh;
}

body {
  font-family: var(--font-roboto);
  background-color: #f7f7f7;
  color: #444;
}

@layer components {
  .input {
    @apply border border-stone-200 rounded px-1 py-1 text-sm transition-all duration-300 placeholder:text-stone-400 focus:outline-none focus:ring focus:ring-lime-400 md:px-2 md:py-2;
  }

  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme("colors.lime.500") 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
    min-width: 45px;
    min-height: 45px;
  }


}




input {
  border: 1px solid #ccc;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}